@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #fff;
}
.button {
  background: rgb(144,58,255);
  background: linear-gradient(240deg, rgba(144,58,255,1) 19%, rgba(212,52,254,1) 60%);
}